[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
rich = "*"
jinja2 = "*"
mkdocs-material = "*"

[dev-packages]
pylint = "*"
black = "*"
pytest = "*"

[requires]
python_version = "3.9"
